










<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Lndr Simple CLR comm</title>
    <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../../node_modules/alertifyjs/build/css/alertify.min.css" />
    <link rel="stylesheet" type="text/css" href="../../node_modules/alertifyjs/build/css/themes/default.min.css" />
    <link rel="stylesheet" type="text/css" href="../../node_modules/linearicons/dist/web-font/style.css" />
    <!-- <link rel="stylesheet" type="text/css" href="./style.css" /> -->
    <link rel="stylesheet" type="text/css" href="./dashboard.theme.css" />
</head>

<body ng-app="App" ng-controller="MainController" ng-init="init()">


    <!-- <span class="lnr lnr-sync rotating"></span> -->

    <nav class="navbar navbar-light fixed-top bg-light flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
        <form class="form-inline w-100">
            <div class="col-6">
                <button class="btn btn-sm btn-outline-primary" type="button">
                    <span class="lnr lnr-file-add"></span>
                    <span>Adicionar Lotes</span>
                </button>
            </div>
            <div class="col-6">
                <div class="form-group row float-right">
                    <label class="col-sm-4 col-form-label">Empresa</label>
                    <div class="col-sm-8">
                        <select class="form-control form-control-sm" ng-options="empresa.Nome for empresa in empresas track by empresa.Id" ng-model="empresaSelecionada">
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </nav>


    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <span class="lnr lnr-gift"></span>
                                Lotes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="lnr lnr-layers"></span>
                                Eventos
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-10 ml-sm-auto px-2">
                <table class="table table-striped table-sm mt-5">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tipo do Evento</th>
                            <th>Status</th>
                            <th>Descricao</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="evento in eventos">
                            <td>{{ evento.IdEvento }}</td>
                            <td>{{ evento.TipoEventoDescricao }}</td>
                            <td>{{ evento.Status }}</td>
                            <td>{{ evento.Descricao }}</td>
                        </tr>
                    </tbody>
                </table>
            </main>

        </div>
    </div>

    
    <!-- <footer class="footer">
            <div class="container">
                <span class="text-muted"></span>
            </div>
        </footer> -->


    <script>
        window.$ = window.jQuery = require('jquery');
    </script>
    <script>
        require('angular');
    </script>
    <script>
        window.alertify = require('alertifyjs');
    </script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        require('../angular-app/extra.js')
    </script>
    <script>
        require('../angular-app/app.controller.js')
    </script>
    <script>
        require('../angular-app/app.service.js')
    </script>
</body>

</html>